#request-card {
  border: 2px solid black;
  box-shadow: 5px 5px #bfbfbf;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  padding: 10px;
}

.request-image {
  height: 150px;
}

.request-details {
  width: 60%;
}

.request-details h2 {
  color: #2c3e50;
}

.request-details h3 {
  color: #2c3e50;
}

.remove-button {
  color: #fff;
  border: none;
  background-color: #2c3e50;
  width: 70px;
  height: 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #3e5771;
}