h1 {
  border: 2px solid #2c3e50;
  box-shadow: 5px 5px #bfbfbf;
  font-size: 3.5em;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

#books-and-requests {
  display: flex;
  justify-content: space-between;
}